#hero{
    color: lightblue;
    background-color: green;
    padding-left: 0;
}

#hero-image{
    background-image: url("../../images/index/hero.jpg");
    height: 700px;
    max-height: 100%;
}