body {
    margin: 0;
    overflow-x: hidden;
}

#hero{
    color: lightblue;
    padding-left: 0;
    width: 100vw;
}

#hero-image{
    height: 400px;
    
    width: 100%;
    position: relative;
    /*
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
}

#hero-image::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity of background image as needed */
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
}

#register-button{
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}